* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navigation styles */
nav {
    background-color: rgb(23, 37, 54);
    padding: 20px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 15px; /* Adjusted margin for better spacing */
}
.present{
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}

.joinUs {
    background-color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(23, 37, 54);
    margin: 0 20px;
}

.login {
    background-color: rgb(23, 37, 54);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
}

.title {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

/* Hero section styles */
.hero {
    background-color: #00796b; /* Teal background */
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

/* Content styles */
.content {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.appointment-form {
    display: flex;
    flex-direction: column;
}

.appointment-form label {
    margin: 10px 0 5px;
}

.appointment-form input,
.appointment-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.appointment-form .submit-button {
    background-color: #00796b; /* Teal background for button */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.appointment-form .submit-button:hover {
    background-color: #005f50; /* Darker teal on hover */
}

/* Footer styles */
.footer {
    background-color: rgb(23, 37, 54);
    color: white;
    text-align: center;
    padding: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}